<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Produtos</title>
</head>
<body>
    <div class="container">
        <h1>Listagem de Produtos</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
               
                <tr>
                    <td>Id do produto</tr>td>                        td>
                    <td>Nome do produto</td>
                    <td>Preo do produto</td>
                </tr>
            </tbody>
        </table>
</body>
</html>